{
	"root": true,
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"ignorePatterns": ["**/node_modules/**/*"],
	"plugins": ["@typescript-eslint", "@nrwl/nx"],
	"extends": ["eslint:recommended", "prettier"],
	"rules": {
		"@nrwl/nx/enforce-module-boundaries": [
			"error",
			{
				"enforceBuildableLibDependency": true,
				"allow": [],
				"depConstraints": [{ "sourceTag": "*", "onlyDependOnLibsWithTags": ["*"] }]
			}
		]
	},
	"overrides": [
		{
			"files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "project": "./tsconfig.base.json"
      },
      "extends": ["eslint:recommended", "plugin:@typescript-eslint/eslint-recommended", "plugin:@typescript-eslint/recommended", "prettier", "prettier/@typescript-eslint"],
      "plugins": ["@typescript-eslint", "@nrwl/nx"],
			"rules": {
				"@typescript-eslint/explicit-member-accessibility": "off",
				"@typescript-eslint/explicit-function-return-type": "off",
				"@typescript-eslint/no-parameter-properties": "off",
				"@nrwl/nx/enforce-module-boundaries": [
					"error",
					{
					  "enforceBuildableLibDependency": true,
					  "allow": [],
					  "depConstraints": [
						{ "sourceTag": "*", "onlyDependOnLibsWithTags": ["*"] }
					  ]
					}
				]
			}
		},
		{
			"files": ["*.tsx"],
			"rules": {
				"@typescript-eslint/no-unused-vars": "off"
			}
		}
	]
}
